<table border="1">  

<% @player_inventories = PlayerInventory.find(:all, :conditions => ["player_id = ?", session[:p_id]]) %> 
  <tr>
    <% player = Player.find(:first, :conditions => ["id = ?", session[:p_id]]) %>
    <th colspan=3><%= player.character_name + " " %> Equipped Inventory</th>
  </tr>
  
<% @player_inventories.each do |player_inventory| %>
  <% inventory = Inventory.find(:first, :conditions => ["id = ?", player_inventory.inventory_id]) %>
  <tr>
  	<th><%= inventory.slot %></th>
    <td><%= inventory.name %></td>
	<% @slot = inventory.slot %>
	<td><%= link_to 'Add/Replace ' + inventory.slot, { :controller => "inventories"  }, :action => "list", :id => @slot %></td>
  </tr>
<% end %>
</table>